{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>タスク管理アプリ</title>
            <meta charset="utf-8">
            <!-- CDN CSS(Karma CSS)
            https://karmacss.com/en/latest/installation.html -->
            <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">

            <!-- static配下のCSSファイルを参照 -->
            <link rel="stylesheet"
            href="{% static 'css/todo.css' %}" >

    </head>
    <body>
        <div>メッセージ</div>
        <div id="message"></div>
        <div id="messageShift"></div>
        <div id="messageCtrl"></div>
        <div id="messageAlt"></div>
        <!-- 固定枠 -->
        <div class="container">
            <h2 id="title1">ToDoリスト</h2>
            <!-- ToDoアプリ Post処理 -->
            <form action="{% url 'add' %}" method="post" name="form1">
                {% csrf_token %}
                <div class="text">
                    <textarea name="sprig" cols="50" rows="10">
head_link] task1 :30- <5h30m> -16:00 @8888 (note)
    task2 /27- <2d4h> -/3 @7777 [tail_link (note)</textarea>
                </div>
                <!-- ToDo追加ボタン -->
                <div class="form-group">
                    <button type="submit" class="button">
                        Sprig
                    </button>
                </div>
            <!-- Todoリスト表示 -->
            <table class="todo list table">
                <tbody>
                    </form>
                    <!-- すべて表示ボタン -->
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <button class="button">すべて表示</button>
                    </form>
                    <!-- 初動タスク表示ボタン -->
                    <form action="{% url 'show_buds' %}" method="post">
                        {% csrf_token %}
                        <button class="button">初動タスク表示</button>
                    </form>
                    <!-- for文回してtodoを取得、表示 -->
                    {% for key, tasks in taskss.items %}
                        {% for task in tasks %}
                            <tr>
                                <td class="{{ key }}">
                                    <a href="#" class="todo" onfocus="on_focus(this)" onblur="on_blur(this)">
                                        <div class="message">{{ task.title }}</div>
                                        <div class="flex fft">
                                            <span class="mg">by</span>
                                            <div class="number">{{ task.deadline|date:"Y-m-d D H:i:s" }}</div>
                                            <span class="mg">(</span>
                                            <div class="number">{{ task.actual_time }}</div>
                                            <span class="mg">/</span>
                                            <div class="number">{{ task.expected_time }}</div>
                                            <span class="mg">)</span>
                                            <span class="mg">@</span>
                                            <div>{{ task.client }}</div>
                                            <span class="mg">"</span>
                                            <div>{{ task.note }}</div>
                                            <span class="mg">"</span>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <form action="{% url 'show_around_1' task.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="button">これ中心</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'delete' task.id %}" method="post" class="del_todo">
                                        {% csrf_token %}
                                        <button class="button del">削除</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- static配下のJSファイルを参照 -->
        <script type="text/javascript" src="{% static 'js/todo.js' %}"></script>
    </body>
</html>
