{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>タスク管理アプリ</title>
            <meta charset="utf-8">
            <!-- CDN CSS(Karma CSS)
            https://karmacss.com/en/latest/installation.html -->
            <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">

            <!-- static配下のCSSファイルを参照 -->
            <link rel="stylesheet"
            href="{% static 'css/todo.css' %}" >

    </head>
    <body>
        <div>メッセージ</div>
        <div id="message"></div>
        <div id="messageShift"></div>
        <div id="messageCtrl"></div>
        <div id="messageAlt"></div>
        <!-- 固定枠 -->
        <div class="container">
            <h2 id="title1">ToDoリスト</h2>
            <!-- ToDoアプリ Post処理 -->
            <form action="{% url 'add' %}" method="post" name="form1">
                {% csrf_token %}
                <div class="text">
                    <textarea name="sprig" cols="50" rows="10">
[ドレスドオムライス完成]葉など飾る
    成形したチキンライスに卵ドレスを乗せる
        チキンライスを茶碗で成形して皿に盛る
            [チキンライス完成]コンソメとケチャップで調味
                ごはんと鶏肉をフライパンに入れて炒める
                    冷凍ごはんを戻す
                    冷凍ボイル鶏肉を戻す
                    たまねぎが透けるまで炒める
                        たまねぎをフライパンへ
                            たまねぎをみじん切りに
                            フライパンにバター
        ドレープをつけ卵ドレスを作る
            卵液をフライパンへ
                卵に水溶き片栗粉を加える
                    ボウルに卵をとく
                フライパンにバター
                    フライパンをキレイに[チキンライス完成]
                    </textarea>
                </div>
                <!-- ToDo追加ボタン -->
                <div class="form-group">
                    <button type="submit" class="button">
                        Sprig
                    </button>
                </div>
            </form>

            <!-- Todoリスト表示 -->
            <table class="todo list table">
                <tbody>
                    <!-- for文回してtodoを取得、表示 -->
                    {% for task in tasks %}
                        <tr>
                            <td>
                                <a href="#" class="todo" onfocus="on_focus(this)" onblur="on_blur(this)">
                                    <div class="message">{{ task.title }}</div>
                                    <div>期限{{ task.deadline }}</div>
                                </a>
                            </td>
                            <td>
                                <form action="{% url 'delete' task.id %}" method="post" class="del_todo">
                                    {% csrf_token %}
                                    <button class="button del">削除</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- static配下のJSファイルを参照 -->
        <script type="text/javascript" src="{% static 'js/todo.js' %}"></script>
    </body>
</html>
