{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sprig</title>
            <meta charset="utf-8">
            <!-- CDN CSS(Karma CSS)
            https://karmacss.com/en/latest/installation.html -->
            <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">

            <!-- static配下のCSSファイルを参照 -->
            <link rel="stylesheet"
            href="{% static 'css/todo.css' %}" >

    </head>
    <body>
        <div>メッセージ</div>
        <div id="message"></div>
        <div id="messageShift"></div>
        <div id="messageCtrl"></div>
        <div id="messageAlt"></div>
        <!-- 固定枠 -->
        <div class="container">
            <div class="header flex">
                <div id="title">Sprig</div>
                <!-- メニューボタン群 -->
                <div class="controller flex">
                    <!-- 新規登録ボタン -->
                    <a href="{% url 'register' %}">
                        <div class="menu" id="new">New</div>
                    </a>
                    <!-- すべて表示ボタン -->
                    <a href="{% url 'index' %}">
                        <div class="menu" id="all">All</div>
                    </a>
                    <!-- 最終タスク表示ボタン -->
                    <a href="{% url 'show_trunk' %}">
                        <div class="menu" id="trunk">Trunk</div>
                    </a>
                    <!-- 初動タスク表示ボタン -->
                    <a href="{% url 'show_buds' %}">
                        <div class="menu" id="buds">Buds</div>
                    </a>
                </div>
            </div>
            <div class="main flex">
                <div class="fix">
                    <div id="graph">graph</div>
                    <div id="note">note</div>
                </div>
                <div id="tasks">
                    <!-- for文回してtodoを取得、表示 -->
                    {% for relationship, tasks in taskss.items %}
                    {% for task in tasks %}
                    <div class="task flex {{ relationship }} {% if not task.is_done %}undone{% else %}done{% endif %}">
                        <a href="#" class="description" onfocus="on_focus(this)" onblur="on_blur(this)">
                                <div class="title mg">{{ task.title }}</div>
                                <div class="attr flex">
                                    <span class="mg">by</span>
                                    <div class="number">{{ task.deadline|date:"Y-m-d D H:i:s" }}</div>
                                    <span class="mg">(</span>
                                    <div class="number">{{ task.actual_time }}</div>
                                    <span class="mg">/</span>
                                    <div class="number">{{ task.expected_time }}</div>
                                    <span class="mg">)</span>
                                    <span class="mg">@</span>
                                    <div>{{ task.client }}</div>
                                    <div class="note">{{ task.note }}</div>
                                </div>
                        </a>
                        <!--フォーカスボタン-->
                        <a href="{% url 'show_around_1' task.id %}">
                            <div class="menu focus">Focus</div>
                        </a>
                        <!--困難を分割ボタン-->
                        {% if not task.is_done %}
                        <a href="{% url 'breakdown' task.id %}">
                            <div class="menu breakdown">B.Down</div>
                        </a>
                        {% else %}
                        <a>
                            <div class="menu breakdown">B.Down</div>
                        </a>
                        {% endif %}
                        <!--完了/未完了ボタン-->
                        {% if not task.is_done %}
                        <a href="{% url 'done' task.id %}">
                            <div class="menu done done_undone">Done</div>
                        </a>
                        {% else %}
                        <a href="{% url 'undone' task.id %}">
                            <div class="menu undone done_undone">Undone</div>
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- static配下のJSファイルを参照 -->
        <script type="text/javascript" src="{% static 'js/todo.js' %}"></script>
    </body>
</html>
