body {
    background: #fffcf9;
}
.header{
    height: 60px;
    margin-bottom: 30px;
}
.header .menu{
    background: #cccccc;
    border-right: 3px solid #fffcf9;
}
#title {
    width: 160px;
    font-size: 50px;
    color: #000000;
    font-weight: 800;
    font-family: Impact;
    vertical-align: middle;
}
.controller{
    width: 950px;
    text-align: right;
}
.graph{
    width: 400px;
    height: 600px;
    border: 1px solid red;
}
.tasks{
    width: 710px;
}
.task{
    border-top: 1px solid white;
}
.task .description {
    width: 508px;
    padding-left: 10px;
}
.task .description .title {
    height: 30px;
    font-size: 20px;
    font-weight: 600;
}
.task .description .attr {
    height: 30px;
    font-family: 'Monotype Corsiva', 'Courier New';
    font-size: 20px;
}
.menu {
    width: 70px;
    height: 60px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.done{
    background: #cccccc;
}
.undone{
    background: #ffffcc;
}
.focus{
    background: #ccccff;
}
.undone .breakdown{
    background: #ccffcc;
}
.undone .done{
    background: #ffcccc;
}


.me{
    background: #ffff77;
}
.button {
    color: #fa8072;
    background: #fffff0;
}
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.mg{
    margin-left: 5px;
    margin-right: 5px;
}
a{
    color: #999999;
}
